@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@using Seer.Infrastructure.Models

<style>
    .slot {
        display: inline-block;
        margin-left: 30px;
    }

    label {
        display: inline;
    }

    .options {
        height: 35px;
    }

    .well {
        padding-top: 7px;
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
    }
</style>

<h2>@Model.Name</h2>
<hr />
<br />

@if (Model.Questions.Count > 0)
{
    using (Html.BeginForm("Save", "Survey", FormMethod.Post, new { id = "save" }))
    {
        foreach (var obj in Model.Questions)
        {
            <div class="card">
    <div class="card-body">
        <h3>
            @Html.Raw(obj.Body)
        </h3>
        <div class="well well-small">
            @if (obj.Type == SurveyQuestion.SurveyQuestionType.Text)
                        {
                            <div class="options">
                                <input type="text" class="option form-control col-sm-5" name="q-@obj.Id" style="display: inline;" value="@obj.AnsweredText" />
                            </div>
                        }
                        else
                        {
                            foreach (var option in obj.GetOptions())
                            {
                                <div class="options">
                                    <input type="radio" class="option" name="q-@obj.Id" value="@option.OptionNumber" @if (obj.AnsweredIndex == option.OptionNumber) { <text> checked="checked" </text> } />
                                    <label for="@("option-" + obj.Id + "-" + option.OptionNumber)">
                                        @option.Option
                                    </label>
                                </div>
                            }
                        }
                        <input type="hidden" name="o-@obj.Id" value="@obj.Type" />
                        @Html.Raw(obj.Comment)
                    </div>
                </div>
            </div>
            <br />
        }

        <div>
    <button class="btn btn-primary" id="btnClose">Submit Survey</button>
</div>

        <input type="hidden" id="id" name="id" value="@Model.Id" />
    }
}
else
{
    <div>Sorry, but no questions are configured for this survey</div>
}
