@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@model Seer.Controllers.LoginViewModel

@{
    var errorMessage = Context.Request.Query["m"];
    if (errorMessage == "An exception has been raised that is likely due to a transient failure.")
    {
        errorMessage = "An exception has been raised that is likely due to a transient failure (this is typically a database connection issue)";
    }
}

<style>
    h1 { font-size: 2.0em !important; font-weight: bold; }
</style>

<h2>Log In</h2>
<br/>
<div class="row">
    <div>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @errorMessage
            </div>
        }
        <section id="loginForm" class="col-3">
            @using (Html.BeginForm("Login", "Account", routeValues: new { returnUrl = Context.Request.Query["ReturnUrl"] }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default"/>
                    </div>
                </div>
            }
        </section>
    </div>
</div>