@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@model Seer.Areas.EO.ViewModels.EODashboardViewModel

@{
    ViewBag.Title = "EO METs Admin";
}

<h2><i class="fa fa-eye" aria-hidden="true"></i> EO METs</h2>
<hr />
<br />

@foreach (var met in Model.METs)
{
    <div class="container" style="bottom:20px">
    <a class="btn btn-primary" href="@Url.Action("Edit", new {id = met.Id})">@met.Name EDIT</a>
</div>


    <div class="active" id="@("home-"+met.Id)" role="tabpanel" aria-labelledby="home-tab">
    @foreach (var item in met.METItems)
        {
            <div class="container">
                <strong>MET @Html.DisplayFor(modelItem => item.Index) @item.Name</strong><br />
                @foreach (var s in item.METSCTs)
                {
                    <text>SCT @s.Index: @s.Name<br /></text>
                }
            </div>
        }
    </div>

}
