@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@model IEnumerable<Seer.Infrastructure.Models.Event>
@{
    ViewBag.Title = "Executive Summary";
}

<h2>
    @ViewBag.GroupName @ViewBag.AssessmentName - @ViewBag.Title
</h2>

<div class="row" style="margin-top: 30px">
    <div class="col-sm-12">
        <table class="table table-sm table-striped" id="main">
            <thead>
                <tr>
                    <td>Event</td>
                    <td>Assigned</td>
                    <td>Description</td>
                    <td class="td-center">Status</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.AssignedTo?.Name()</td>
                        <td>@item.ExtendedName</td>
                        <td class="td-center">
                            @{
                                var status = string.Empty;
                                var icon = "fa-feather";
                                if (item.TimeStart.HasValue && item.TimeEnd.HasValue)
                                {
                                    status = "ok";
                                    icon = "fa-check-circle";
                                }
                                else if (item.TimeStart.HasValue && !item.TimeEnd.HasValue)
                                {
                                    status = "warn";
                                    icon = "fa-check-circle";
                                }
                            }
                            <i id="status-@item.Id" class="fa @icon @status" aria-hidden="true"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>