@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@using Seer.Infrastructure.Enums
@model Seer.Infrastructure.Models.IntelItem

@{
    ViewBag.Title = "Create New Intel";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="pull-right">
    @Html.ActionLink("Back to List", "Index")
    <input type="submit" value="Create" class="btn btn-primary" />
</div>
    <h2>@ViewBag.Title</h2>
    <hr />

    <input type="hidden" name="AssessmentId" value="@ViewBag.AssessmentId" />
    <input type="hidden" name="Created" value="@DateTime.Now" />

    <div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Subject, new { @class = "control-label col-md-2" })
        <div>
            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Details, new { @class = "control-label col-md-2" })
        <div>
            @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control", style = "height:300px;" } })
            @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tags, new { @class = "control-label col-md-2" })
        <div>
            @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
        <div>
            @Html.DropDownList("Status", Html.GetEnumSelectList<ActiveStatus>(), "Select Status", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
}
