@*
    SEER - SYSTEM (for) EVENT EVALUATION RESEARCH
    Copyright 2021 Carnegie Mellon University.
    NO WARRANTY. THIS CARNEGIE MELLON UNIVERSITY AND SOFTWARE ENGINEERING INSTITUTE MATERIAL IS FURNISHED ON AN "AS-IS" BASIS. CARNEGIE MELLON UNIVERSITY MAKES NO WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, AS TO ANY MATTER INCLUDING,
    BUT NOT LIMITED TO, WARRANTY OF FITNESS FOR PURPOSE OR MERCHANTABILITY, EXCLUSIVITY, OR RESULTS OBTAINED FROM USE OF THE MATERIAL. CARNEGIE MELLON UNIVERSITY DOES NOT MAKE ANY WARRANTY OF ANY KIND WITH RESPECT TO FREEDOM FROM PATENT,
    TRADEMARK, OR COPYRIGHT INFRINGEMENT.
    Released under a MIT (SEI)-style license, please see license.txt or contact permission@sei.cmu.edu for full terms.
    [DISTRIBUTION STATEMENT A] This material has been approved for public release and unlimited distribution. Please see Copyright notice for non-US Government use and distribution.
    Carnegie Mellon® and CERT® are registered in the U.S. Patent and Trademark Office by Carnegie Mellon University.
    DM21-0384
*@

@model IEnumerable<Seer.Infrastructure.Models.QuizQuestion>

@{
    ViewBag.Title = "Quiz Questions";
}

<div class="row">
    <div class="col-md-8">
        <h2>@ViewBag.Quiz.Name</h2>
        <h3>@ViewBag.Message</h3>
    </div>
    <div class="col-md-4" style="text-align:right">
        <a href="@Url.Action("Create", new { id = ViewBag.Quiz.Id })" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add New Question</a>
    </div>
</div>

<div>
    @if (!Model.Any())
    {
        <div>
            There are no questions for this quiz
        </div>
    }
    @foreach (var question in Model)
    {
        <div class="well">
            <div>@await Html.PartialAsync("_DisplayFormPartial", question)</div>
            <div class="row">
                <div class="col-md-8">&nbsp;</div>
                <div class="col-md-4" style="text-align:right">
                    <a href="@Url.Action("Edit", new { id = question.Id })" class="btn"> Edit</a>
                    <a href="#" class="btn" data-href="@question.Id/delete" data-toggle="modal" data-target="#confirm-delete">
                        Delete
                    </a>
                </div>
            </div>
        </div>
    }
</div>


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirm Delete
            </div>
            <div class="modal-body">
                Are you sure you want to permanently delete this question?
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <form action="#" method="POST" id="delete_form">
                    <button class="btn btn-danger btn-ok" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script>
    $(function () {
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('#delete_form').attr('action', $(e.relatedTarget).data('href'));
        })
    });
</script>
}