@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@model Seer.Infrastructure.Models.IntelItem

@{
    ViewBag.Title = "Details";
}

<div class="pull-right">
    <a class="btn btn-primary" href="@Url.Action("Index")">Back to List</a>
</div>


<h2>@Html.DisplayFor(model => model.Subject)</h2>
<hr />

<br />
<br />

<div style="align-content: center">
    <samp>
        EXERCISE EXERCISE EXERCISE<br />
        UNCLASSIFIED//FOUO
    </samp>
</div>
<br />
<samp>
    @Html.DisplayFor(model => model.Created)<br />
    <br />
    UNCLASSIFIED//FOUO<br />
    <br />
    @Html.DisplayNameFor(model => model.Subject): @Html.DisplayFor(model => model.Subject)<br />
    <br />
    (U//FOUO)<br />
    <br />
    (U) @Html.DisplayNameFor(model => model.Details)<br />
    <br />
    (U//FOUO)
    @Html.Raw(Model.Details.Replace("\n", "<br/>"))

</samp>

<br />
<br />
<div style="align-content: center">
    <samp>
        EXERCISE EXERCISE EXERCISE
    </samp>
</div>
<br />
<br />

<style>
    samp {
        font-size: 1.45em;
        font-family: monospace
    }
</style>