@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@model IEnumerable<Seer.Infrastructure.Models.Group>

@{
    ViewBag.Title = "Groups";
}

<div class="pull-right">
    <a class="btn btn-secondary" href="/admin/groups/import">Bulk Import</a>
    <a class="btn btn-primary" href="/admin/groups/create">Create New</a>
</div>

<h2>@ViewBag.Title</h2>
<br />

<table class="table table-sm table-striped">
    <tr>
        <th width="60%">@Html.DisplayNameFor(model => model.Name)</th>
        <th width="7%">Corp</th>
        <th width="8%">@Html.DisplayNameFor(model => model.Theatre)</th>
        <th width="9%">@Html.DisplayNameFor(model => model.Brigade)</th>
        <th>Designation</th>
        <th>Status</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Set", "Groups", new {id = item.Id})">
                    <i class="fa fa-users" aria-hidden="true"></i> &nbsp;
                    <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                </a>
            </td>
            <td>@item.SignalCorp</td>
            <td>@item.Theatre</td>
            <td>@item.Brigade</td>
            <td>(@item.Designation)</td>
            <td>
                @item.Status
            </td>
        </tr>
    }

</table>
