@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@model IEnumerable<Seer.Infrastructure.Models.Upload>

<h2><i class="fa fa-folder-o" aria-hidden="true"></i> Group Uploads</h2>
<br />
@if (!Model.Any())
{
    <p>No uploads found</p>
}
else
{
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Uploaded By</th>
        <th>Group</th>
        <th class="text-right">
            Uploaded At
        </th>
    </tr>

    @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Download", new {id = item.Id})">
                        <i class="fa fa-file-o" aria-hidden="true"></i> &nbsp;
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @item.User.FirstName @item.User.LastName (@item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Name)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
            </tr>
        }
    </table>
}
