@*
    SEER - SYSTEM (for) EVENT EVALUATION RESEARCH
    Copyright 2021 Carnegie Mellon University.
    NO WARRANTY. THIS CARNEGIE MELLON UNIVERSITY AND SOFTWARE ENGINEERING INSTITUTE MATERIAL IS FURNISHED ON AN "AS-IS" BASIS. CARNEGIE MELLON UNIVERSITY MAKES NO WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, AS TO ANY MATTER INCLUDING,
    BUT NOT LIMITED TO, WARRANTY OF FITNESS FOR PURPOSE OR MERCHANTABILITY, EXCLUSIVITY, OR RESULTS OBTAINED FROM USE OF THE MATERIAL. CARNEGIE MELLON UNIVERSITY DOES NOT MAKE ANY WARRANTY OF ANY KIND WITH RESPECT TO FREEDOM FROM PATENT,
    TRADEMARK, OR COPYRIGHT INFRINGEMENT.
    Released under a MIT (SEI)-style license, please see license.txt or contact permission@sei.cmu.edu for full terms.
    [DISTRIBUTION STATEMENT A] This material has been approved for public release and unlimited distribution. Please see Copyright notice for non-US Government use and distribution.
    Carnegie Mellon® and CERT® are registered in the U.S. Patent and Trademark Office by Carnegie Mellon University.
    DM21-0384
*@

@model IEnumerable<Seer.Infrastructure.Models.Quiz>
@using Seer.Infrastructure.Models

@foreach (var quiz in Model)
{
    @section jumbotron{
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">@quiz.Name Quiz Metrics</h1>

        <table class="table table-sm" id="overview">
            <tr class="table-info">
                <td>@quiz.Score%</td>
                <td>@quiz.Questions.Count(o => o.IsAnsweredCorrectly)</td>
                <td>@quiz.Questions.Count(o => !o.IsAnsweredCorrectly && !string.IsNullOrEmpty(o.AnsweredBy) && o.AnswerStatus != QuizAnswer.AnswerStateType.NotApplicable)</td>
                <td>@quiz.Questions.Count(o => !o.IsAnsweredCorrectly && string.IsNullOrEmpty(o.AnsweredBy) && o.AnswerStatus != QuizAnswer.AnswerStateType.NotApplicable)</td>
            </tr>
            <tr class="table-inverse">
                <th>AVG SCORE</th>
                <th>CORRECT</th>
                <th>INCORRECT</th>
                <th>UNANSWERED</th>
            </tr>
        </table>

    </div>
</div>
}

    <div class="row">
    <div class="col-sm-12">

        <h3 class="pull-right">@quiz.Score%</h3>
        <h3>Question Summary</h3>
        <br />

        <table class="table table-sm">
            <tr>
                <th></th>
                <th>Question</th>
                <th>Type</th>
                <th>Correct Answer</th>
                <th>Answer</th>
                <th class="right">Answered</th>
                <th>Correct</th>
                <th>NA</th>
            </tr>
            @if (!quiz.Questions.Any())
                {
                    <tr>
                        <td colspan="5">There are no questions for this quiz</td>
                    </tr>
                }
                @foreach (var question in quiz.Questions)
                {
                    var questionType = "Text";
                    var answer = string.Empty;
                    string correctAnswer;
                    var stripe = "danger";
                    if (question.IsAnsweredCorrectly)
                    {
                        stripe = "success";
                    }
                    if (string.IsNullOrEmpty(question.AnsweredBy))
                    {
                        stripe = "warning";
                    }
                    if (question.Type == QuizQuestion.QuestionType.MultipleChoice)
                    {
                        questionType = "Choice";
                        correctAnswer = question.CorrectIndex switch
                        {
                            6 => question.Option6,
                            5 => question.Option5,
                            4 => question.Option4,
                            3 => question.Option3,
                            2 => question.Option2,
                            _ => question.Option1
                        };

                        if (!string.IsNullOrEmpty(question.AnsweredBy))
                        {
                            answer = question.AnsweredIndex switch
                            {
                                6 => question.Option6,
                                5 => question.Option5,
                                4 => question.Option4,
                                3 => question.Option3,
                                2 => question.Option2,
                                _ => question.Option1
                            };
                        }
                    }
                    else
                    {
                        answer = question.AnsweredText;
                        correctAnswer = question.CorrectText;
                    }
                    if (question.AnswerStatus == QuizAnswer.AnswerStateType.NotApplicable)
                    {
                        stripe = "na";
                        answer = "N/A";
                    }
                    <tr class="table-@stripe" title="Question ID: @question.Id | Answer ID: @question.AnswerId">
                        <td>@question.Index .</td>
                        <td>@question.Body</td>
                        <td>@questionType</td>
                        <td>@correctAnswer</td>
                        <td>@answer</td>
                        <td class="right">@question.AnsweredBy</td>
                        <td class="modify" title="Mark Correct">
                            <a href="#" class="confirm" data-id="@question.AnswerId" data-cmd="correct"><i class="fa fa-check-square alert-success" aria-hidden="true"></i></a>
                        </td>
                        <td class="modify" title="Mark as NA">
                            <a href="#" class="confirm" data-id="@question.AnswerId" data-cmd="na"><i class="fa fa-minus-square alert-info" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}

<style>
    #overview td,
    #overview th {
        text-align: center;
    }

    #overview td {
        font-size: 2.5em;
    }

    .right {
        text-align: right;
    }

    .table-na * {
        background: WhiteSmoke;
        color: silver;
    }

    .modify {
        text-align: center
    }
</style>

@section scripts {
<script>
    $(function () {
        $('.confirm').on('click', function (e) {
            var id = $(this).data("id");
            var cmd = $(this).data("cmd");
            console.log(id + " " + cmd);
            var answer = confirm('Are you sure you want to mark this question as ' + cmd + '?');
            if (answer) {
                $.ajax({
                    type: "GET",
                    url: "/admin/quizzes/mark" + cmd + "?id=" + id,
                    async: false,
                    success: function (text) {
                        console.log(text);
                        if (text === "OK")
                            location.reload();
                    }
                });

            }
            else {
                e.preventDefault();
            }
        });
    });
</script>
}
