@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google" value="notranslate">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link rel="icon" type="image/ico" href="/favicon.ico"/>
    <link rel="apple-touch-icon" href="/favicon.ico"/>
    <title>EO : @ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="/content/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/content/fontawesome/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/content/site.css"/>
    @await RenderSectionAsync("header", false)
</head>

<body class="@ViewBag.BodyCssClass">
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" href="@Url.Action("Index", "Home", new {Area = ""})">
                    <img src="/content/images/icon.png" title="System (for) Event Evaluation Research" alt="System (for) Event Evaluation Research" class="fa" style="width:26px;margin-top: -3px"/> SEER
                </a>
            </li>
            <span class="nav-link active">|</span>
            <li>
                <a class="nav-link" href="@Url.Action("Index", "Dashboard", new {Area = "EO"})">
                    EO Home
                </a>
            </li>
            @if (ViewBag.AssessmentId != null)
            {
                <li>
                    <span class="nav-link active">|</span>
                </li>
                <li class="nav-link">
                    <span class="text-warning">@ViewBag.GroupName @ViewBag.AssessmentName &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownAssessment" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span>Assessments</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownAssessment">
                        <a class="dropdown-item" href="@Url.Action("Index", "Measure")">METs</a>
                        <a class="dropdown-item" href="@Url.Action("Jmets", "Measure")">JMETs</a>
                    </div>    
                </li>
            }
        </ul>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user" aria-hidden="true"></i>
                @User.Identity?.Name?.ToLower()
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown01">
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a class="dropdown-item" href="/admin/dashboard">
                            <i class="fa fa-university" aria-hidden="true"></i> Administration
                        </a>
                    </li>
                }
                @if (User.IsInRole("EO") || User.IsInRole("Admin"))
                {
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Index", "Dashboard", new {Area = "EO"})">
                            <i class="fa fa-eye" aria-hidden="true"></i> EO Dashboard
                        </a>
                    </li>
                }
                <li>
                    <a class="dropdown-item" id="logout" href="@Url.Action("LogOff", "Account", new {Area = ""})">
                        <i class="fa fa-sign-out-alt" aria-hidden="true"></i> Logout
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
@await RenderSectionAsync("jumbotron", false)
<div class="container-fluid main1" style="margin-top:20px;">
    @RenderBody()
    @await Html.PartialAsync("_Footer")
</div>

<script src="/scripts/jquery-3.1.1.js"></script>
<script src="/scripts/jquery.signalR-2.2.2.js"></script>
<script src="/scripts/jquery-ui-1.12.1.js"></script>
<script src="/scripts/jquery.unobtrusive-ajax.js"></script>
<script src="/scripts/jquery.validate.js"></script>
<script src="/scripts/modernizr-2.8.3.js"></script>
<script src="/scripts/tether.js"></script>
<script src="/scripts/moment.js"></script>
<script src="/scripts/bootstrap.min.js"></script>

@await RenderSectionAsync("scripts", false)
</body>

</html>