@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@model Seer.Infrastructure.ViewModels.HomeViewModel

<style>
    .card-columns { column-count: 2; }
    .card * { text-align: left; }
</style>

@if (this.User.Identity!.IsAuthenticated)
{
    if (Model!.Groups.Any())
    {
        <h3>
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            You are enrolled in the following assessments as a participant:
        </h3>
        <p>
            Click on the active event of your choice below in order to begin. Check with your administrator regarding updates for currently inactive events.
        </p>
        <div class="card-columns">
            @foreach (var group in Model.Groups)
            {
                foreach (var assessment in group.Assessments)
                {
                    var style = "primary";
                    if (assessment.Status == Seer.Infrastructure.Enums.ActiveStatus.Inactive)
                    {
                        style = "secondary";
                    }

                    <div class="card">
                        <a href="@Url.Action("SetAssessment", "Home", new { id = assessment.Id })" class="btn btn-block btn-@style">
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                            EO: <strong>@group.Name - @assessment.Name</strong> (@assessment.Status)
                        </a>
                    </div>
                }
            }
        </div>
    }
    else
    {
        <div style="margin:20px 0">
            <strong>You are not enrolled in any events currently</strong>
        </div>
    }
}
else
{
    <p>
        Please <a href="@Url.Action("Login", "Account")">Login</a> to continue.
    </p>
}