@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@model IEnumerable<Seer.Infrastructure.Models.Faq>

<div class="pull-right">
    @Html.ActionLink("New FAQ Item", "Create", new { }, new { @class = "btn btn-primary" })
</div>
<h2><i class="fa fa-question-circle" aria-hidden="true"></i> Frequently Asked Questions</h2>
<br />

@if (!Model.Any())
{
    <p>No FAQs found</p>
}
else
{
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssessmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th class="text-right">
            @Html.DisplayNameFor(model => model.Created)
        </th>
    </tr>

    @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Edit", new {id = item.Id})">
                        @Html.DisplayFor(modelItem => item.Question)
                    </a>
                </td>
                <td>
                    @Html.Raw(item.Answer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssessmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
            </tr>
        }
    </table>
}