@*
SEER - SYSTEM (for) EVENT EVALUATION RESEARCH
Copyright 2021 Carnegie Mellon University.
NO WARRANTY. THIS CARNEGIE MELLON UNIVERSITY AND SOFTWARE ENGINEERING INSTITUTE MATERIAL IS FURNISHED ON AN "AS-IS" BASIS. CARNEGIE MELLON UNIVERSITY MAKES NO WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, AS TO ANY MATTER INCLUDING,
BUT NOT LIMITED TO, WARRANTY OF FITNESS FOR PURPOSE OR MERCHANTABILITY, EXCLUSIVITY, OR RESULTS OBTAINED FROM USE OF THE MATERIAL. CARNEGIE MELLON UNIVERSITY DOES NOT MAKE ANY WARRANTY OF ANY KIND WITH RESPECT TO FREEDOM FROM PATENT,
TRADEMARK, OR COPYRIGHT INFRINGEMENT.
Released under a MIT (SEI)-style license, please see license.txt or contact permission@sei.cmu.edu for full terms.
[DISTRIBUTION STATEMENT A] This material has been approved for public release and unlimited distribution. Please see Copyright notice for non-US Government use and distribution.
Carnegie Mellon® and CERT® are registered in the U.S. Patent and Trademark Office by Carnegie Mellon University.
DM21-0384
*@

@model IEnumerable<Seer.Infrastructure.Models.Event>

@{
    ViewBag.Title = "Assessment Events";
}

<h2>
    @ViewBag.GroupName @ViewBag.AssessmentName - @ViewBag.Title
</h2>

<style>
    .co { border-left: 1px solid lightgray; padding-right: 10px !important}
    .con { padding-right: 10px !important}
</style>

<div class="row" style="margin-top: 30px">
    <div class="col-sm-12">
        <table class="table table-sm table-striped" id="main">
            <thead>
                <tr>
                    <td>Event</td>
                    <td>Description</td>
                    <td>Event&nbsp;Status</td>
                    <td class="con text-right">Discovery</td>
                    <td class="co text-right">Mitigation</td>
                    <td class="co text-right">Severity</td>
                    <td class="co text-right">Intelligence</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @{
                                if (item.CatalogId > 0)
                                {
                                    <a href="@Url.Action("Detail", "Events", new {Area = "EO", Id = @item.Id})">
                                        @item.Name
                                    </a>                                    
                                }
                                else
                                {
                                    <span title="This event cannot be scored">@item.Name</span>
                                }
                            }
                        </td>
                        <td>@item.ExtendedName</td>
                        <td class="td-center">
                            @{
                                var status = string.Empty;
                                var icon = "fa-feather";
                                if (item.TimeStart.HasValue && item.TimeEnd.HasValue)
                                {
                                    status = "ok";
                                    icon = "fa-check-circle";
                                }
                                else if (item.TimeStart.HasValue && !item.TimeEnd.HasValue)
                                {
                                    status = "warn";
                                    icon = "fa-check-circle";
                                }
                                if (item.CatalogId > 0)
                                {
                                    <i id="status-@item.Id" class="fa @icon @status" title="@status" aria-hidden="true"></i>
                                }
                            }
                        </td>
                        <td class="con text-right">
                            @($"{item.ScoreDiscovery:F2}")
                        </td>
                        <td class="co text-right">@($"{item.ScoreRemoval:F2}")</td>
                        <td class="co text-right">@($"{item.ScoreSeverity:F2}")</td>
                        <td class="co text-right">@($"{item.ScoreIntelligence:F2}")</td>
                    </tr>
                }
            @{
                double total = 0, percent = 0, scoreDiscovery = 0, scoreMitigation = 0, scoreSeverity = 0, scoreIntelligence = 0;
                if (Model.Any())
                {
                    scoreSeverity = Model.Average(x => x.ScoreSeverity ?? 0);
                    scoreIntelligence = Model.Average(x => x.ScoreIntelligence ?? 0);
                    
                    var calc = Convert.ToDouble(Model.Sum(x => x.ScoreDiscovery)) / Convert.ToDouble(Model.Count(x => x.CatalogId > 0));
                    scoreDiscovery = calc switch
                    {
                        >= .9 => 3,
                        >= .8 and < .9 => 2,
                        >= .7 and < .8 => 1,
                        _ => scoreDiscovery
                        };

                    calc = Convert.ToDouble(Model.Sum(x => x.ScoreRemoval)) / Convert.ToDouble(Model.Count(x => x.CatalogId > 0));
                    scoreMitigation = calc switch
                    {
                        >= .9 => 3,
                        >= .8 and < .9 => 2,
                        >= .7 and < .8 => 1,
                        _ => scoreMitigation
                        };

                    total = scoreDiscovery +
                                scoreMitigation +
                                Model.Average(x => x.ScoreSeverity ?? 0) +
                                Model.Average(x => x.ScoreIntelligence ?? 0);

                    percent = Convert.ToDouble(total) / Convert.ToDouble(12);
                }
            }
            
            <tr class="bold">
                <td colspan="3">SCORE: @($"{total:F2}") / 12.00 (@($"{percent:P}"))</td>
                <td class="con text-right">@($"{scoreDiscovery:F2}")</td>
                <td class="co text-right">@($"{scoreMitigation:F2}")</td>
                <td class="co text-right">@($"{scoreSeverity:F2}")</td>
                <td class="co text-right">@($"{scoreIntelligence:F2}")</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>